<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bertholucci.movie">

    <application>
        <activity
            android:name="com.bertholucci.movie.ui.details.MovieDetailsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.MOVIE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bertholucci.movie.ui.list.MovieListActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.MOVIE_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>